{
 "name": "day2_{{ dns.clusterid }}_infra-env",
 "cluster_id": "{{ day2clusterdetails.json.id }}",
 "ssh_authorized_key": "{{ public_ssh_key }}",
 "pull_secret": {{ pull_secret | to_json }},
 "image_type": "full-iso",
 "cpu_architecture": "{{ rhcos_arch }}",
 "openshift_version": "{{ assisted_rhcos_version }}"
}
