unqualified-search-registries = ["registry.access.redhat.com", "docker.io", "quay.io"]
[[registry]]
   prefix = ""
   location = "registry-proxy.engineering.redhat.com/rh-osbs"
   mirror-by-digest-only = false
   [[registry.mirror]]
   location = "brew.registry.redhat.io/rh-osbs"
